{{> head}}


{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1 class="display-4">Hola {{nombre}}</h1>
         
    </div>

    <div class="col-4">
       <img class="img-thumbnail" src="/assets/img/1047964671.jpg">
    </div>
</div>
 

{{> footer}}